<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem 
            id="menu_member_root" 
            name="Members" 
            sequence="10"/>

        <menuitem 
            id="menu_members" 
            name="Members" 
            parent="menu_member_root" 
            action="action_members" 
            sequence="10"/>
    
        <menuitem
            id="menu_care_groups"
            name="Care Groups"
            parent="menu_member_root"
            action="action_care_group"
            sequence="10"/>

        <menuitem 
            id="menu_ministries" 
            name="Ministries" 
            parent="menu_member_root" 
            action="action_ministry" 
            sequence="10"/>

        <menuitem
            id="menu_pastoral_duties_root"
            name="Pastoral Duties"
            sequence="11"/>

        <menuitem
            id="menu_pastoral_duties"
            name="Pastoral Duties"
            parent="menu_pastoral_duties_root"
            action="action_pastoral_duties"
            sequence="10"/>
        
        <menuitem
            id="menu_service_root"
            name="Service"
            sequence="10"/>
    </data>
</odoo>